{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@pages/AboutPage": "custom/views/pages/AboutPage"
      }
    }]
  ]
}
