module.exports = {
    database: '',  // enter the name of  your mysql database
    username: '',  // enter the username for your mysql database
    password: '',  // enter the password for your mysql database
}
